* {
  --color-blue: #00293d;
  --color-indigo: #004266;
  --color-wine: #6b2c39;
  --color-red: #d62828;
  --color-orange: #f77f00;
  --color-yellow: #fcbf49;
  --color-meringue: #eae2b7;
  --color-bg: var(--color-blue);
  --color-text: var(--color-yellow);
}

body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Taps {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: var(--color-text);
  border-bottom: 2px solid var(--color-blue);
  color: var(--color-indigo);
}

.View {
  flex: 2;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 2em;
}

.Content {
  flex-direction: column;
}

.screen {
  min-height: 100vh;
}

.Header {
  flex: 1;
  max-height: 238px;
  display: "flex";
  justify-content: "center";
  flex-direction: "column";
}

.Logo {
  flex: 1;
  max-height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 420px) {
  .App {
    flex-direction: row;
  }

  .Taps {
    flex-direction: column;
  }

  .Logo,
  .Header {
    max-height: none;
  }

  .active {
    border-right: 2px solid var(--color-blue);
    border-bottom: 0px;
  }
}

.dark {
  background-color: var(--color-blue);
  color: var(--color-yellow);
}

.light {
  background-color: var(--color-meringue);
  color: var(--color-blue);
}

.support {
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex: 1;
}
